.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
   
}
.shop .products {
    margin: 0 7%;
}
.shop .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 10px;
}
