.product {
    border: 1px solid gray;
    transition: .2s;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: translateY(-1px);
}
.product-data {
    padding: 10px;
}

.product img {
    width: 100%;
    border-radius: 7px;

}
.add-to-cart-btn {
    background-color: #FFE0B3;
    width: 100%;
    padding: 10px;
    border-top: 1px solid gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-weight: 600;
    color: rgb(66, 66, 66);
    transition: .2s;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.add-to-cart-btn:hover {
    background-color: #fdc36d;
}